<nav class="topnav" id="myTopnav">
     <a class="active" href="/">Home</a>
     <a href="/administrarPoi?tipo=Todos&nombre=all">Administrar Pois</a>
     <a href="/terminal?comuna=0">Administrar Terminales</a>
     <a href="/historico-consultas">Historial Consultas</a> 
     
    <!-- -->
    <a href="javascript:void(0);" class="icon" onclick="ajustar_navBar()">&#9776;</a>        
</nav>

